{{ $params := .Site.Params }}
{{ with .Date }}
<div class="post_meta">
  <span>{{ . | time.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</span>
  {{ with $.Params.readingTime }}
    <span>· {{ . }} min read</span>
  {{ end }}
  {{ with $.Params.tags }}
    <span>·</span>
    <span class="post_tags">
      {{ range . }}
        <a href='{{ absLangURL (printf "tags/%s" (. | urlize)) }}'>{{ . }}</a>
      {{ end }}
    </span>
  {{ end }}
  <span>·</span>
  {{ partial "share" $ }}
</div>
{{ end }}